CACHE_HOST=service-job.rtovuw.0001.use1.cache.amazonaws.com
CACHE_PORT=6379
SIERRA_OAUTH_TOKEN_URI=https://nypl-sierra-test.iii.com/iii/sierra-api/v3/token
SIERRA_BASE_API_URL=https://nypl-sierra-test.iii.com/iii/sierra-api/v3
SIERRA_OAUTH_CLIENT_ID=...
SIERRA_OAUTH_CLIENT_SECRET=...
SLACK_TOKEN=...
